a. All log files
b. The entire user manual folder
c. All txt files that include a “-”
d. The styles.css file
e. All SRS files besides the final version
f. All SDD files besides the final version
g. Any README files not in the root directory
